
header {
    text-align:center ;
}
header h1 {
   
    color: rgb(208, 14, 14);
}
header h2 span{
  
    color: rgb(208, 14, 14);
}



main {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;  


}
img {
    height:25rem;
    width: 20rem;}

